 *{
     margin: 0;
     padding: 0;
 }
 ul li{
    display: inline;
    padding: 20px;
}
nav{
    margin:30px;
    
}
.home{
    background-image: url("../images/farm-product.jpeg");
    background-size: cover;
    height: 100vh;
}
.nav-bar{
    display: flex;
    float: right;
}
.login{
    background-color: lightgreen;
    
}
i {
    padding: 20px;
    font-size: 25px;
}